.signIn {
  display: flex;
  flex-direction: column;
  gap: 24px;
  h2 {
    color: var(--151515, #151515);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.408px;
    text-align: center;
  }

  label {
    color: var(--151515, #151515);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.408px;
    text-transform: uppercase;
  }

  .tel {
    width: 100%;
    height: 50px;
  }

  .password {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    border: 1px solid #cecece;
    background: #fff;
    margin-top: 5px;
    // &:focus-within {
    //   border: 2px solid #161616;
    //   background: var(--gray, #fff);
    // }

    .pass {
      width: 100%;
      height: 100%;
      color: #161616;
      background-color: transparent;
      border: none;
    }

    .eye {
      cursor: pointer;
      .logo {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: #ee5922;
      }
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      color: var(--main, #ee5922);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
      background-color: transparent;
    }

    .checkbox {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      label {
        color: var(--Base-Black, #000);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      input {
        width: 22px;
        height: 22px;
        border-radius: 50%;
      }
    }
  }

  .btn_grey {
    border-radius: 8px;
    background: #f2f2f2;
    padding: 16px 0px;
    color: var(--main, #ee5922);
    font-size: 16px;
    font-weight: 500;
  }

  .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    button {
      border-radius: 8px;
      background: var(--main, #ee5922);
      padding: 16px;
      gap: 8px;
      flex: 1 0 0;
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;

      &:first-child {
        border-radius: 8px;
        border: 1px solid #ee5922;
        background: #fff;
        color: #ee5922;
      }
    }
  }
}
