.abouts {
    width: 100%;
    padding: 10px 60px;

    @media screen and (max-width:500px) {
        padding: 10px 15px;
    }

   .arod{
    display: flex;
    justify-content: space-around;
    @media screen and (max-width:1200px) {
            display: block;
    }
   }
   .arod1{
    display: block;
    @media screen and (max-width:500px) {
        display: none!important;
    }
   }
   .arod2{
    display: none!important;
    @media screen and (max-width:500px) {
        display: grid!important;
     
    }
   }

   .img{
    padding-top: 30px;
    @media screen and (max-width:500px) {
            width: 100%;
    }
   }

    .about_one {
        width: 100%;
        color: #000;


        h1 {
            font-size: 34px;
            font-weight: 300;
            text-transform: uppercase;

            @media screen and (max-width:500px) {
                color: var(--1-e-1-e-1-e, #1E1E1E);
                font-size: 28px;
                font-weight: 400;
            }
        }

        h3 {
            padding: 100px 0 20px;
            font-size: 40px;
            font-weight: 300;
            line-height: 120%;

            @media screen and (max-width:500px) {
                font-size: 24px;
                font-weight: 400;

                br {
                    display: none;
                }
            }

            span {
                font-size: 40px;
                font-weight: 600;
                line-height: 120%;

                @media screen and (max-width:500px) {
                    font-size: 25px;
                    font-weight: 600;

                    br {
                        display: none;
                    }
                }
            }
        }

        .border {
            max-width: 70px;
            width: 100%;
            height: 2.5px;
            background-color: #000;
        }

        .p {
            font-size: 24px;
            font-weight: 300;
            line-height: 120%;

            @media screen and (max-width:500px) {
                font-size: 18px;
                font-weight: 300;
            }
        }


    }

    .fleX {
        color: #000;
        width: 100%;
        display: flex;

        @media screen and (max-width:730px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        h2 {
            font-size: 60px;
            font-weight: 100;
            @media screen and (max-width:500px) {
                color: var(--1-e-1-e-1-e, #1E1E1E);
                font-size: 50px;
                line-height: 120%; 
            }
        }

        h6 {
            color: #000;
            font-size: 16px;
            font-weight: 300;
            line-height: 120%;

            @media screen and (max-width:500px) {
                color: var(--1-e-1-e-1-e, #1E1E1E);
                font-size: 14px;
            }
        }
    }
    
}

.smailik {
    width: 100%;

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        grid-gap: 32px;
        grid-auto-flow: dense;
        margin: 40px 0;
        padding: 0 60px;
        @media screen and (max-width:500px) {
            padding: 0 15px;            
        }


        h3 {
            color: #000;
            font-size: 20px;
            font-weight: 700;
            line-height: 120%;
            padding: 20px 0;
            @media screen and (max-width:500px) {
                color: var(--1-e-1-e-1-e, #1E1E1E);
                font-size: 18px;
                padding: 15px 0;
                
            }
        }

        p {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            @media screen and (max-width:500px) {
                color: var(--1-e-1-e-1-e, #1E1E1E);
                font-size: 14px;
                
            }
        }
    }
}

.lorem {
    width: 100%;
    color: #000;
    padding: 0 60px;
    margin: 20px 0;

    @media screen and (max-width:800px) {
        display: none;
    }

   .arod{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:1200px) {
        .arod {
            display: block;
            margin: 20px 0;
        }
    }
   }

    h2 {
        p{
            font-size: 40px;
        font-weight: 100;
        line-height: 150%;
        text-transform: uppercase;
        width: 280px;
        height: 10px;
        }

        .dolor {
            font-size: 40px;
            font-weight: 400;
            line-height: 120%;
            text-transform: uppercase;
            position: relative;
            top: 10px;
        }
    }

    .border {
        width: 100%;
        height: 2px;
        background-color: #000;
        position: relative;
        top: 50px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 25px;
        width: 100%;
    }

}

.ourServices {
    width: 100%;
    padding: 0 60px;
    margin-bottom: 100px;

    @media screen and (max-width:500px) {
        display: none;
    }

// lksejhfdukfghbiuerstg
    h3 {
        color: #000;
        font-size: 40px;
        font-weight: 400;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        grid-gap: 30px;
        grid-auto-flow: dense;

        div {
            position: relative;
            max-width: 270px;
            width: 100%;
            height: 374px;

            img {
                width: 100%;
                height: 374px;
                margin: 20px 0;
            }

            p {
                color: #000;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}
.mapes{
    display: none!important;
    @media screen and (max-width:1100px) {
        display: block!important;
        border-radius: 20px;
    }
}
.contacts{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    align-items: center;
    @media screen and (max-width:1100px) {
        grid-template-columns: 1fr;
    }
    .contact {
        width: 100%;
        margin: 34px 0;
        display: grid;
        grid-gap: 24px;
    
       
    
        h3 {
            color: #000;
            font-size: 32px;
            font-weight: 700;
            @media screen and (max-width:1100px) {
                color: var(--Base-Black, #000);
                font-size: 18px;
                
            }
        }


    
        .kontact{
            gap: 20px;

            @media screen and (max-width:500px) {
                gap: 16px;
                padding: 0 10px;
                
            }

            .kontact_img {
                max-width: 56px;
                width: 100%;
                height: 56px;
                border-radius: 50%;
                border: 2px solid #EFEFEF;
                text-align: center;
                color: #000;
        
                img {
                    max-width: 19px;
                    width: 100%;
                    height: 19px;
                    margin: 0 auto;
                    cursor: pointer;
                }
            }
        }
    
        .ofice {
            max-width: 396px;
            width: 100%;
            height: 100px;
            padding: 16px;
            color: #000;
            border-radius: 8px;
            background: #F1F1F1;
            margin-bottom: 8px;
    
    
            h4 {
                font-size: 14px;
                font-weight: 700;
            }
    
            h6 {
                font-size: 14px;
                font-weight: 400;
            }
    
            a {
                color: var(--733-e-8-f, #8F27C6);
                font-size: 14px;
                font-weight: 400;
                text-decoration-line: underline;
                @media screen and (max-width:1100px) {
                    color: var(--main, #EE5922);
                    
                }
            }
    
            p {
                font-size: 12px;
                font-weight: 400;
                opacity: 0.5;
            }
        }
    
    }
   .kart{
    display: block;
    @media screen and (max-width:1100px) {
        display: none!important;
    }
  
    .kart_bottom{
        // width: 100%;
        height: 100%;
        display: block;
        @media screen and (max-width:1100px) {
            display: none!important;
        }
    }
   }
}

.filter{
    .block{
        margin: 16px 0 100px;
        gap: 16px;
        input{
            width: 100%;
            padding: 16px;
            border-radius: 8px;
            border: 1px solid var(--EDEDED, #E0E0E0);
            background: #FFF;
        }
        button{
            max-width: 216px;
            width: 100%;
            padding: 16px;
            border-radius: 8px;
            background: var(--main, #EE5922);
            color: #FFF;
            font-size: 14px;
            font-weight: 700;
        }
    }
}

.anketa {
    width: 100%;
    max-width: 522px;

    .block {
        width: 100%;
        display: grid;

        h3 {
            color: #EE5922;
            font-size: 26px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: -0.24px;
            padding-bottom: 40px;

            @media screen and (max-width:500px) {
                font-size: 18px;
                font-weight: 400;
                padding: 20px 0 16px;
            }
        }

        h4 {
            color: #EE5922;
            font-size: 22px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: -0.24px;
            padding: 20px 0;

            @media screen and (max-width:500px) {
                font-size: 18px;
                font-weight: 400;
            }
        }

        label {
            color: var(--545454, #545454);
            font-size: 17px;
            font-weight: 600;
            padding-bottom: 15px;

            @media screen and (max-width:500px) {
                font-size: 16px;
                font-weight: 900;
            }
        }

        input {
            width: 100%;
            padding: 12px;
            border-radius: 8px;
            background: #F3F3F3;
            margin-bottom: 30px;

            @media screen and (max-width:500px) {}
        }

        .btn {
            width: 100%;
            padding: 12px;
            border-radius: 8px;
            background: #F0F0F0;
            gap: 10px;
            color: #5A5A5A;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 40px;

            @media screen and (max-width:500px) {}
        }

        .btn_orange {
            width: 100%;
            padding: 12px;
            border-radius: 8px;
            background: var(--ee-5922, #EE5922);
            color: #FBFBFC;
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 60px;

            @media screen and (max-width:500px) {}
        }
    }
}

