.basket {
  margin: 60px 0;

  .baskets {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  h2 {
    color: #000;
    text-align: center;
    // font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    .card {
      display: grid;
      grid-template-columns: 2fr 10fr;
      justify-content: baseline;
      align-items: center;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      background: #fff;

      .img {
        max-width: 350px;
        border-radius: 8px 0px 0px 8px;

        // background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg");
        // background-position: center;
        // background-size: cover;
        // background-repeat: no-repeat;
      }

      .info {
        display: flex;
        padding: 16px;
        flex-direction: column;
        gap: 8px;
        background: #fff;

        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 20px;

          h4 {
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration-line: underline;
          }

          .delete {
            width: 24px;
            height: 24px;
            fill: #ee5922;
            cursor: pointer;
          }
        }

        .text {
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          opacity: 0.5;
        }

        .btn {
          display: flex;
          justify-content: baseline;
          align-items: center;
          gap: 24px;

          .button {
            width: 24px;
            height: 24px;
            padding: 5px;
            background-color: #ee5922;
            border-radius: 50%;
            fill: #fff;
            cursor: pointer;
          }

          p {
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .price {
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .prices {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }

  .footer_title {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h3 {
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    h4 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .Send {
    width: 198px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: var(--main, #ee5922);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
    padding: 16px;
  }
}
