.brands {
  .wrapper {
    margin: 36px 0;
    h2 {
      color: var(--Base-Black, #000);
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .mySwiper {
      padding: 30px 0;

      .pagin {
        margin: 20px;
      }
    }
  }
}
