.Card {
  width: 100%;
  height: 380px;
  border-radius: 8px;
  padding: 5px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.17);
  position: relative;
  @media screen and (max-width: 600px) {
    height: 300px;
  }

  .img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    @media screen and (max-width: 600px) {
      height: 60%;
    }
  }

  .card_logo {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 600px) {
      height: 60%;
    }
    .logo {
      width: 80px;
      height: 80px;
      fill: #ee5922;
    }
  }

  // .box {
  //   width: 100%;
  //   height: 340px;

  //   @media screen and (max-width: 600px) {
  //     height: 225px;
  //   }
  // }

  // .img {
  //   background-position: center;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   width: 100%;
  //   height: 302px;
  //   border-radius: 8px 8px 0px 0px;

  //   @media screen and (max-width: 600px) {
  //     height: 190px;
  //   }
  // }

  .Popular {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 1;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 11px;
    border-radius: 8px;
    background: linear-gradient(90deg, #fe0e0e 0%, #ff8484 100%);

    @media screen and (max-width: 600px) {
      left: 9px;
      font-size: 12px;
      background: var(--lin, linear-gradient(90deg, #ee5922 0%, #f97a72 100%));
    }
  }

  .star {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
    border-radius: 50%;
    background: #fff;
    width: 38.49px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 600px) {
      top: 22px;
      right: 9px;
      width: 24px;
      height: 24px;
    }

    .stars {
      fill: #f7e200;
    }
  }

  .title {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (max-width: 600px) {
      padding: 16px 8px;
    }

    h2 {
      color: #1e1e1e;
      font-size: 14px;
      font-weight: 600;
    }

    p {
      color: #1e1e1e;
      font-size: 12px;
      font-weight: 400;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 4px;

      span {
        opacity: 0.5;
      }
    }

    .rating {
      display: flex;
      align-items: center;
    }

    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .prices {
        display: flex;
        flex-direction: column;
        gap: 4px;

        h5 {
          color: var(--1-e-1-e-1-e, #1e1e1e);
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        h6 {
          color: var(--1-e-1-e-1-e, #1e1e1e);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration: line-through;
          opacity: 0.6;
        }
      }

      .btn {
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 40px;
        background: #e02525;
        display: flex;
        padding: 12px;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 600px) {
          font-size: 12px;
          background: #ee5922;
        }
      }
    }
  }
}
