.mySwiper {
  .new_slide {
    width: 100%;
    height: 430px;
    @media screen and (max-width: 600px) {
      height: 235px;
    }
    img {
      width: 100%;
      height: 396px;
      object-fit: cover;
      background-position: center center;
      background-size: contain;
      @media screen and (max-width: 600px) {
        height: 204px;
      }
    }
  }
}
