.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;

  .gray {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    z-index: 0;
  }

  .wrapper {
    display: block;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    min-width: 420px;
    padding: 24px;
    border-radius: 16px;
    background: #fff;
    z-index: 33;
    @media screen and (max-width: 600px) {
      width: 100%;
    }

    // input {
    //   width: 100%;
    //   padding: 13px;
    //   display: block;
    //   border-radius: 8px;
    //   border: 1px solid #cecece;
    //   background: #fff;
    //   margin-top: 8px;
    // }
  }
}
