.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(6px);
    z-index: 999;
    width: 100%;

    .wrapper {
        position: fixed;
        max-width: 420px;
        width: 100%;
        padding: 24px;
        border-radius: 16px;
        background: #FFF;

        h2 {
            color: var(--151515, #151515);
            font-size: 22px;
            font-weight: 700;
            letter-spacing: -0.408px;

        }
        label{
            color: gray;
            font-size: 11px;
            font-weight: 400;
            letter-spacing: -0.408px;
            text-transform: uppercase;
        }
        input{
            width: 100%;
            padding: 13px;
            display: block;
            border-radius: 8px;
            border: 1px solid #CECECE;
            background: #FFF;
            margin: 8px 0;
        }
        a{
            color: var(--main, #EE5922);
            font-size: 16px;
            font-weight: 400;
            border-bottom: 1.5px solid #EE5922;
        }
        .chek{
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
        .btns :first-child{
            width: 100%;
            color: var(--main, #EE5922);
            border-radius: 8px;
            border: 1px solid var(--main, #EE5922);
            background: #FFF;
            padding: 16px;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
        }
        .btns :last-child{
            width: 100%;
            color: #FFF;
            border-radius: 8px;
            background: var(--main, #EE5922);
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .btn_grey {
            width: 100%;
            padding: 16px;
            color: var(--main, #EE5922);
            font-size: 16px;
            font-weight: 500;
            border-radius: 8px;
            background: #F2F2F2;  
            margin: 14px 0 0;  
        }
    }
}   