.recover {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 100%;
    height: 50px;
    padding: 13px;
    display: block;
    border-radius: 8px;
    border: 1px solid #cecece;
    background: #fff;
  }

  .request {
    color: var(--Base-Black, #000);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    span {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .request_btn {
    border-radius: 8px;
    background: var(--main, #ee5922);
    padding: 16px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  h3 {
    color: var(--151515, #151515);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.408px;
    text-align: center;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: var(--Base-Black, #000);
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 470px;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }

  .password {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    border: 1px solid #cecece;
    background: #fff;
    margin-top: 5px;
    // &:focus-within {
    //   border: 2px solid #161616;
    //   background: var(--gray, #fff);
    // }

    .pass {
      width: 100%;
      height: 100%;
      color: #161616;
      background-color: transparent;
      border: none;
    }

    .eye {
      cursor: pointer;
      .logo {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: #ee5922;
      }
    }
  }

  .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      gap: 24px;
    }

    button {
      border-radius: 8px;
      background: var(--main, #ee5922);
      padding: 16px;
      flex: 1 0 0;
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      @media screen and (max-width: 600px) {
        width: 100%;
      }

      &:first-child {
        border-radius: 8px;
        border: 1px solid #ee5922;
        background: #fff;
        color: #ee5922;
      }
    }
  }
}
