.favorites {
  display: flex;
  flex-direction: column;
  gap: 24px;
  h2 {
    color: var(--Base-Black, #000);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  button {
    color: var(--Base-Black, #000);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px;
    border-radius: 16px;
  }

  .favorites_wrap {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-gap: 24px;
    grid-auto-flow: dense;
    @media screen and (max-width: 600px) {
      grid-template-columns: 6fr 6fr;
      grid-gap: 16px;
    }
  }
}
