.header {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;

    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 70px;
      padding: 10px 0;

      @media screen and (max-width: 600px) {
        padding: 0;
      }

      .logo {
        width: 151px;
        @media screen and (max-width: 600px) {
          width: 120px;
        }
      }

      .nav_bar {
        display: flex;
        align-items: center;
        gap: 32px;

        @media screen and (max-width: 1300px) {
          display: none;
        }

        Link {
          color: #151515;
          font-size: 14px;
          font-weight: 500;
        }

        .active {
          color: var(--main, #ee5922);
        }
      }
    }

    .phone {
      .link {
        color: #1e1e1e;
        font-size: 29px;
        font-weight: 500;

        @media screen and (max-width: 600px) {
          font-size: 14px;
        }
      }

      p {
        color: #1e1e1e;
        opacity: 0.5;
        font-size: 14px;
        font-weight: 600;

        @media screen and (max-width: 600px) {
          font-size: 8px;
        }
      }
    }

    .burger {
      width: 35px;
      height: 35px;
      display: none;

      @media screen and (max-width: 1300px) {
        display: block;
      }
    }
  }

  .blok {
    gap: 20px;
    padding: 26px 0;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    margin-bottom: 26px;

    @media screen and (max-width: 600px) {
      border: none;
      padding: 0;
    }

    .btn_catalog {
      border-radius: 10px;
      background: var(--main, #ee5922);
      padding: 15px 10px;
      gap: 8px;
      color: #FFF;
      font-size: 14px;
      font-weight: 500;
    }

    .input_go {
      max-width: 712px;
      width: 100%;
      // width: 712px;
      padding: 21.5px 20px;
      border-radius: 10px;
      background: #f2f2f3;
      // @media screen and (max-width: 1370px) {
      //   width: 100%;
      // }

      @media screen and (max-width: 770px) {
        display: none;
      }

      input {
        color: var(--1-e-1-e-1-e, #1e1e1e);
        font-size: 14px;
        font-weight: 400;
        background: #f2f2f3;
        width: 100%;

        &::placeholder {
          color: var(--1-e-1-e-1-e, #1e1e1e);
          font-size: 14px;
          font-weight: 400;
          opacity: 0.4;
        }
      }
    }
  }

  .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    @media screen and (max-width: 860px) {
      justify-content: space-around;
      gap: 15px;
    }

    .user_logo {
      width: 53px;
      height: 53px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ee5922;
      border-radius: 50%;

     

      .logo {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      p {
        color: #282b3d;
        font-size: 13px;
        font-weight: 500;
        opacity: 0.8;
      }

      .image {
        max-width: 50px;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        background: #f2f2f3;
        display: flex;
        justify-content: center;
        align-items: center;

       
      }

      .login {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background: #ee5922;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      p {
        color: #282b3d;
        font-size: 13px;
        font-weight: 500;
        @media screen and (max-width: 600px) {
          font-size: 12px;
        }
      }
    }

    .filter {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;

      @media screen and (max-width: 770px) {
        display: none;
      }

      .image {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background: #f2f2f3;
        display: flex;
        justify-content: center;
        align-items: center;
       
      }

      p {
        color: #282b3d;
        font-size: 13px;
        font-weight: 500;
        opacity: 0.8;
      }
    }
  }

  .mobil_input {
    display: none;

    @media screen and (max-width: 770px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
    }

    .mobil_search {
      width: 100%;
      height: 50px;
      padding: 21.5px 20px;
      border-radius: 10px;
      background: #f2f2f3;
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        color: var(--1-e-1-e-1-e, #1e1e1e);
        font-size: 14px;
        font-weight: 400;
        background: #f2f2f3;
        width: 100%;

        &::placeholder {
          color: var(--1-e-1-e-1-e, #1e1e1e);
          font-size: 14px;
          font-weight: 400;
          opacity: 0.4;
        }
      }
    }

    .logo {
      width: 50px;
      height: 50px;
      border-radius: 10px;
      padding: 18px;
      background: #f2f2f3;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
