.header {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;

    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 70px;
      padding: 10px 0;

      @media screen and (max-width: 600px) {
        padding: 0;
      }

      .logo {
        width: 151px;
        @media screen and (max-width: 600px) {
          width: 120px;
        }
      }

      .nav_bar {
        display: flex;
        align-items: center;
        gap: 32px;

        @media screen and (max-width: 1300px) {
          display: none;
        }

        Link {
          color: #151515;
          font-size: 14px;
          font-weight: 500;
        }

        .active {
          color: var(--main, #ee5922);
        }
      }
    }

    .phone {
      .link {
        color: #1e1e1e;
        font-size: 29px;
        font-weight: 500;

        @media screen and (max-width: 600px) {
          font-size: 14px;
        }
      }

      p {
        color: #1e1e1e;
        opacity: 0.5;
        font-size: 14px;
        font-weight: 600;

        @media screen and (max-width: 600px) {
          font-size: 8px;
        }
      }
    }

    .burger {
      width: 35px;
      height: 35px;
      display: none;

      @media screen and (max-width: 1300px) {
        display: block;
      }
    }
  }
}
