.NothingFound{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    .NothingFoundBlock{
display: grid;
justify-content: center;
align-items: center;
text-align: center;
gap: 8px;
svg{
    margin: 0 auto;
    width: 152px;
height: 228.508px;
flex-shrink: 0;
}
div{
    width: 270px;
    display: grid;
    row-gap: 8px;
    p{
        color: var(--Base-Black, #000);
text-align: center;
font-family: Inter-regular;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
    }
    h2{
        color: var(--Base-Black, #000);
text-align: center;
font-family: Inter-Bold;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }
}
}
}