.popular {
  width: 100%;
  margin: 30px 0;

  h3 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
  }

  .btn_white {
    max-width: 140px;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background: #fff;
    color: var(--main, #ee5922);
    font-size: 14px;
    font-weight: 800;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  }

  .products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
    grid-gap: 24px;
    grid-auto-flow: dense;

    @media screen and (max-width:190px) {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
      grid-gap: 16px;
      grid-auto-flow: dense;
    }
  }
}